In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from matplotlib import colors
import seaborn as sns
import calendar
import contextily as ctx
import glob
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn import metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error
import numpy as np
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import train_test_split
import xgboost as xgb
from xgboost import XGBRegressor
import pickle
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor

In [18]:
df1=pd.read_json('C:/Users/user/Desktop/Summer Project/EventPrediction/2nd version/TrainingData/Thanksgiving.json',orient='records')
df2=pd.read_json('C:/Users/user/Desktop/Summer Project/EventPrediction/2nd version/TrainingData/Halloween.json',orient='records')
df3=pd.read_json('C:/Users/user/Desktop/Summer Project/EventPrediction/2nd version/TrainingData/SaintPatricks.json',orient='records')
df4=pd.read_json('C:/Users/user/Desktop/Summer Project/EventPrediction/2nd version/TrainingData/PrideMarch.json',orient='records')
df5=pd.read_json('C:/Users/user/Desktop/Summer Project/EventPrediction/2nd version/TrainingData/TimesSquare.json',orient='records')
df6=pd.read_json('C:/Users/user/Desktop/Summer Project/EventPrediction/2nd version/TrainingData/LunarNewYear.json',orient='records')
df7=pd.read_json('C:/Users/user/Desktop/Summer Project/EventPrediction/2nd version/TrainingData/ThreeKingsDay.json',orient='records')
df8=pd.read_json('C:/Users/user/Desktop/Summer Project/EventPrediction/2nd version/TrainingData/4thOfJulyFireworks.json',orient='records')

scaler = MinMaxScaler()

df1['busyness_score'] = scaler.fit_transform(df1[['num_dropoffs']])
df1['busyness_score_event'] = scaler.fit_transform(df1[['num_dropoffs_event']])

df2['busyness_score'] = scaler.fit_transform(df2[['num_dropoffs']])
df2['busyness_score_event'] = scaler.fit_transform(df2[['num_dropoffs_event']])

df3['busyness_score'] = scaler.fit_transform(df3[['num_dropoffs']])
df3['busyness_score_event'] = scaler.fit_transform(df3[['num_dropoffs_event']])

df4['busyness_score'] = scaler.fit_transform(df4[['num_dropoffs']])
df4['busyness_score_event'] = scaler.fit_transform(df4[['num_dropoffs_event']])

df5['busyness_score'] = scaler.fit_transform(df5[['num_dropoffs']])
df5['busyness_score_event'] = scaler.fit_transform(df5[['num_dropoffs_event']])

df6['busyness_score'] = scaler.fit_transform(df6[['num_dropoffs']])
df6['busyness_score_event'] = scaler.fit_transform(df6[['num_dropoffs_event']])

df7['busyness_score'] = scaler.fit_transform(df7[['num_dropoffs']])
df7['busyness_score_event'] = scaler.fit_transform(df7[['num_dropoffs_event']])

df8['busyness_score'] = scaler.fit_transform(df8[['num_dropoffs']])
df8['busyness_score_event'] = scaler.fit_transform(df8[['num_dropoffs_event']])

In [25]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8])
dummies1 = pd.get_dummies(df['Event_ID'], prefix='Event_ID')
dummies2 = pd.get_dummies(df['DOLocationID'], prefix='DOLocationID')

df = pd.concat([dummies1,dummies2,df["time"],df["TimeOfDay_Afternoon"],df["TimeOfDay_Evening"],df["TimeOfDay_Morning"],df["TimeOfDay_Night"],df["busyness_score"],df["busyness_score_event"]], axis=1)
df

,Event_ID_1,Event_ID_2,Event_ID_3,Event_ID_4,Event_ID_5,Event_ID_6,Event_ID_7,Event_ID_8,DOLocationID_4,DOLocationID_12,...,DOLocationID_261,DOLocationID_262,DOLocationID_263,time,TimeOfDay_Afternoon,TimeOfDay_Evening,TimeOfDay_Morning,TimeOfDay_Night,busyness_score,busyness_score_event
0,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0.032844,0.105769
1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0.020266,0.115385
2,1,0,0,0,0,0,0,0,1,0,...,0,0,0,2,0,0,0,1,0.014675,0.044231
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,3,0,0,0,1,0.011181,0.069231
4,1,0,0,0,0,0,0,0,1,0,...,0,0,0,4,0,0,0,1,0.005590,0.042308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1579,0,0,0,0,0,0,0,1,0,0,...,0,0,1,19,0,1,0,0,0.304724,0.374795
1580,0,0,0,0,0,0,0,1,0,0,...,0,0,1,20,0,1,0,0,0.281437,0.306056
1581,0,0,0,0,0,0,0,1,0,0,...,0,0,1,21,0,1,0,0,0.302728,0.270049
1582,0,0,0,0,0,0,0,1,0,0,...,0,0,1,22,0,0,0,1,0.270792,0.500818
1583,0,0,0,0,0,0,0,1,0,0,...,0,0,1,23,0,0,0,1,0.180306,0.427169

In [26]:
df.reset_index(drop=True, inplace=True)
X = df.drop('busyness_score_event', axis=1)
y = df['busyness_score_event']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [23]:
sum_by_category = df.groupby('DOLocationID')['busyness_score_event'].sum()
sum_by_category=sum_by_category.sort_values(ascending=False)
sum_by_category.head(10)

DOLocationID
48     78.713674
236    78.541080
170    74.145033
237    70.018865
79     69.804253
142    67.617080
230    67.080634
186    65.265799
161    65.075838
239    64.591797
Name: busyness_score_event, dtype: float64

# XgBoost

xg_reg = XGBRegressor(objective ='reg:squarederror', eval_metric ='rmse')
xg_reg.fit(X_train, y_train)
preds = xg_reg.predict(X_test)

In [92]:
preds = xg_reg.predict(X_test)
result = pd.DataFrame({'busyness_score_event_predicted': preds})
see =pd.concat([X_test,y_test],axis=1)
see.reset_index(drop=True, inplace=True)
# true_vs_predicted_test = pd.DataFrame({'Actual Value': y_test, 'Predicted Value': preds})
# true_vs_predicted_test
see2=pd.concat([see,result],axis=1)
see2
# result

,Event_ID_1,Event_ID_2,Event_ID_3,Event_ID_4,Event_ID_5,Event_ID_6,Event_ID_7,Event_ID_8,DOLocationID_4,DOLocationID_12,...,DOLocationID_262,DOLocationID_263,time,TimeOfDay_Afternoon,TimeOfDay_Evening,TimeOfDay_Morning,TimeOfDay_Night,busyness_score,busyness_score_event,busyness_score_event_predicted
0,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0.045262,0.022242,0.024818
1,0,0,0,0,0,0,0,1,0,0,...,0,0,8,0,0,1,0,0.007319,0.011457,0.005943
2,0,0,0,0,1,0,0,0,0,0,...,0,0,15,1,0,0,0,0.445757,0.382698,0.411642
3,0,0,0,0,0,0,1,0,0,0,...,1,0,17,0,1,0,0,0.209335,0.280249,0.222353
4,0,0,0,0,1,0,0,0,0,0,...,0,0,20,0,1,0,0,0.001074,0.001466,0.017438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3797,0,1,0,0,0,0,0,0,0,0,...,0,0,11,0,0,1,0,0.073611,0.077022,0.068213
3798,0,0,0,0,0,1,0,0,0,0,...,0,0,8,0,0,1,0,0.188014,0.177437,0.193575
3799,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0.069307,0.044484,0.039288
3800,0,0,0,0,0,0,0,1,0,0,...,0,0,10,0,0,1,0,0.008649,0.009820,0.018153
3801,0,1,0,0,0,0,0,0,0,0,...,0,0,17,0,1,0,0,0.097222,0.077022,0.090454

In [93]:
mape_test=see2[(see2['DOLocationID_48']==1)|
               (see2['DOLocationID_236']==1)|  
               (see2['DOLocationID_170']==1)             
#                (see2['DOLocationID_237']==1)|               
#                (see2['DOLocationID_79']==1)|               
#                (see2['DOLocationID_142']==1)|               
#                (see2['DOLocationID_230']==1)|               
#                (see2['DOLocationID_186']==1)|               
#                (see2['DOLocationID_161']==1)|               
#                (see2['DOLocationID_239']==1)               
                ]
mape_test

,Event_ID_1,Event_ID_2,Event_ID_3,Event_ID_4,Event_ID_5,Event_ID_6,Event_ID_7,Event_ID_8,DOLocationID_4,DOLocationID_12,...,DOLocationID_262,DOLocationID_263,time,TimeOfDay_Afternoon,TimeOfDay_Evening,TimeOfDay_Morning,TimeOfDay_Night,busyness_score,busyness_score_event,busyness_score_event_predicted
38,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0.219858,0.225049,0.249665
46,0,0,0,0,0,0,1,0,0,0,...,0,0,15,1,0,0,0,0.700849,0.661922,0.610902
57,0,0,0,0,0,0,1,0,0,0,...,0,0,17,0,1,0,0,0.625884,0.644128,0.556459
74,0,0,1,0,0,0,0,0,0,0,...,0,0,2,0,0,0,1,0.083333,0.091977,0.092098
112,0,0,0,0,1,0,0,0,0,0,...,0,0,7,0,0,1,0,0.314715,0.228739,0.245042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,0,0,0,0,1,0,0,0,0,0,...,0,0,4,0,0,0,1,0.009667,0.020528,0.006727
3761,0,1,0,0,0,0,0,0,0,0,...,0,0,11,0,0,1,0,0.862500,0.838254,0.841430
3766,0,1,0,0,0,0,0,0,0,0,...,0,0,8,0,0,1,0,0.188889,0.250321,0.171100
3779,0,0,0,1,0,0,0,0,0,0,...,0,0,21,0,1,0,0,0.590090,0.695479,0.578312
3795,0,0,0,0,0,0,0,1,0,0,...,0,0,6,0,0,1,0,0.114438,0.060556,0.082536

In [85]:
print('Mean Absolute Percentage Error:', metrics.mean_absolute_percentage_error(mape_test['busyness_score_event'], mape_test['busyness_score_event_predicted']))

Mean Absolute Percentage Error: 0.13638817751631319

In [96]:
importance_scores = xg_reg.feature_importances_
feature_importance_df = pd.DataFrame({'Feature': X_test.columns, 'Importance': importance_scores})
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)
feature_importance_df

             Feature  Importance
79    busyness_score    0.199670
62  DOLocationID_234    0.075306
58  DOLocationID_230    0.048944
0         Event_ID_1    0.043062
16   DOLocationID_48    0.036260
..               ...         ...
9    DOLocationID_12    0.000233
30  DOLocationID_120    0.000001
52  DOLocationID_194    0.000000
33  DOLocationID_128    0.000000
43  DOLocationID_153    0.000000

[80 rows x 2 columns]

# Random Forest

In [86]:
random_forest = RandomForestRegressor(n_estimators=100, oob_score=True, random_state=1)
random_forest.fit(X_train, y_train)

RandomForestRegressor(oob_score=True, random_state=1)

In [88]:
# Predicted class labels for all examples, 
# using the trained model, on in-sample data (same sample used for training and test)
rf_test_predictions = random_forest.predict(X_test)
df_true_vs_rf_predicted_test = pd.DataFrame({'Actual Value': y_test, 'Predicted Value': rf_test_predictions})
df_true_vs_rf_predicted_test.head(10)

       Actual Value  Predicted Value
9913       0.022242         0.027808
11600      0.011457         0.014497
7287       0.382698         0.454191
11057      0.280249         0.223935
7412       0.001466         0.002421
10264      0.084520         0.084316
4894       0.115691         0.133692
8691       0.208105         0.203696
8713       0.098576         0.108546
6192       0.075798         0.134812

In [89]:
result = pd.DataFrame({'busyness_score_event_predicted': rf_test_predictions})
see =pd.concat([X_test,y_test],axis=1)
see.reset_index(drop=True, inplace=True)
see2=pd.concat([see,result],axis=1)
see2

,Event_ID_1,Event_ID_2,Event_ID_3,Event_ID_4,Event_ID_5,Event_ID_6,Event_ID_7,Event_ID_8,DOLocationID_4,DOLocationID_12,...,DOLocationID_262,DOLocationID_263,time,TimeOfDay_Afternoon,TimeOfDay_Evening,TimeOfDay_Morning,TimeOfDay_Night,busyness_score,busyness_score_event,busyness_score_event_predicted
0,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0.045262,0.022242,0.027808
1,0,0,0,0,0,0,0,1,0,0,...,0,0,8,0,0,1,0,0.007319,0.011457,0.014497
2,0,0,0,0,1,0,0,0,0,0,...,0,0,15,1,0,0,0,0.445757,0.382698,0.454191
3,0,0,0,0,0,0,1,0,0,0,...,1,0,17,0,1,0,0,0.209335,0.280249,0.223935
4,0,0,0,0,1,0,0,0,0,0,...,0,0,20,0,1,0,0,0.001074,0.001466,0.002421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3797,0,1,0,0,0,0,0,0,0,0,...,0,0,11,0,0,1,0,0.073611,0.077022,0.066502
3798,0,0,0,0,0,1,0,0,0,0,...,0,0,8,0,0,1,0,0.188014,0.177437,0.180776
3799,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0.069307,0.044484,0.043822
3800,0,0,0,0,0,0,0,1,0,0,...,0,0,10,0,0,1,0,0.008649,0.009820,0.022193
3801,0,1,0,0,0,0,0,0,0,0,...,0,0,17,0,1,0,0,0.097222,0.077022,0.085692

In [90]:
mape_test=see2[(see2['DOLocationID_48']==1)|
               (see2['DOLocationID_236']==1)|  
               (see2['DOLocationID_170']==1)             
#                (see2['DOLocationID_237']==1)|               
#                (see2['DOLocationID_79']==1)|               
#                (see2['DOLocationID_142']==1)|               
#                (see2['DOLocationID_230']==1)|               
#                (see2['DOLocationID_186']==1)|               
#                (see2['DOLocationID_161']==1)|               
#                (see2['DOLocationID_239']==1)               
                ]
mape_test

,Event_ID_1,Event_ID_2,Event_ID_3,Event_ID_4,Event_ID_5,Event_ID_6,Event_ID_7,Event_ID_8,DOLocationID_4,DOLocationID_12,...,DOLocationID_262,DOLocationID_263,time,TimeOfDay_Afternoon,TimeOfDay_Evening,TimeOfDay_Morning,TimeOfDay_Night,busyness_score,busyness_score_event,busyness_score_event_predicted
38,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0.219858,0.225049,0.227719
46,0,0,0,0,0,0,1,0,0,0,...,0,0,15,1,0,0,0,0.700849,0.661922,0.619108
57,0,0,0,0,0,0,1,0,0,0,...,0,0,17,0,1,0,0,0.625884,0.644128,0.568492
74,0,0,1,0,0,0,0,0,0,0,...,0,0,2,0,0,0,1,0.083333,0.091977,0.089145
112,0,0,0,0,1,0,0,0,0,0,...,0,0,7,0,0,1,0,0.314715,0.228739,0.256341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,0,0,0,0,1,0,0,0,0,0,...,0,0,4,0,0,0,1,0.009667,0.020528,0.015136
3761,0,1,0,0,0,0,0,0,0,0,...,0,0,11,0,0,1,0,0.862500,0.838254,0.819497
3766,0,1,0,0,0,0,0,0,0,0,...,0,0,8,0,0,1,0,0.188889,0.250321,0.168933
3779,0,0,0,1,0,0,0,0,0,0,...,0,0,21,0,1,0,0,0.590090,0.695479,0.552081
3795,0,0,0,0,0,0,0,1,0,0,...,0,0,6,0,0,1,0,0.114438,0.060556,0.068658

In [91]:
print('Mean Absolute Percentage Error:', metrics.mean_absolute_percentage_error(mape_test['busyness_score_event'], mape_test['busyness_score_event_predicted']))

Mean Absolute Percentage Error: 0.16594355903151214

In [104]:
importance_scores = random_forest.feature_importances_
feature_importance_df = pd.DataFrame({'Feature': X_test.columns, 'Importance': importance_scores})
feature_importance_df = feature_importance_df.sort_values('Importance', ascending=False)
feature_importance_df

             Feature    Importance
79    busyness_score  8.186712e-01
74              time  3.665477e-02
0         Event_ID_1  3.018307e-02
7         Event_ID_8  1.861242e-02
4         Event_ID_5  8.122621e-03
..               ...           ...
53  DOLocationID_202  8.735115e-06
52  DOLocationID_194  3.419044e-06
33  DOLocationID_128  3.523740e-07
43  DOLocationID_153  3.399141e-07
30  DOLocationID_120  2.361704e-07

[80 rows x 2 columns]